.paystack-container {
  font-size: 16px;
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.color-bar {
  height: 2px;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #44b669 0%, #09a5db 100%);
  background: -webkit-linear-gradient(to right, #44b669 0%, #09a5db 100%);
  background: -webkit-gradient(to right, #44b669 0%, #09a5db 100%);
}

.page {
  width: 100%;
}
.page-header {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
}

.page-description {
  font-size: 14px;
  text-align: center;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
} */
