.paystack-container {
  font-size: 16px;
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.color-bar {
  height: 2px;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #44b669 0%, #09a5db 100%);
  background: -webkit-linear-gradient(to right, #44b669 0%, #09a5db 100%);
  background: -webkit-gradient(to right, #44b669 0%, #09a5db 100%);
}

.page {
  width: 100%;
}
.page-header {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
}

.page-description {
  font-size: 14px;
  text-align: center;
}

.link {
  color: rgb(76, 175, 80);
  text-decoration: none;
  /* text-transform: capitalize; */
  font-weight: 700;
  display: flex;
  align-items: center;
}

.link:hover {
  color: rgb(73, 160, 76);
}

.right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

button:disabled {
  background-color: rgb(136 203 139);
}